@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #FF862A;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #ffffff;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #CB6D43;
    font-weight: 600;
}

.inicio-fundo {
    /* aula 3 */
    background-image:url('img/design-de-modelo-de-banner-de-torneio-de-basquete_622952-94.avif');
    /* Substitua pelo caminho da sua imagem */
    position: relative;
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}
.img-inicio {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    /* Convertido para em aumenta o tamanho da fonte por tabela*/
    height: 3em;
    /* Convertido para em */
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/bola\ de\ basquete.png') top right no-repeat,
        url('img/bola\ de\ basquete.png') bottom left no-repeat;
    background-size: 180px 180px;
    /* Ajuste o tamanho conforme necessário */
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
    text-align: center; 
    /* Centraliza horizontalmente */
    
}



h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
    text-align: center; 
    /* Centraliza horizontalmente */
}

#galeria
 { 
    /* Centraliza horizontalmente */
    background-color: #F1EDEF;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de galeria */
    border-radius: 60px;
    /* Borda arredondada para o fundo */
}

#galeria img {
    width: 300px; /* Largura fixa */
    height: 200px; /* Altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço definido */
    border-radius: 5px; /* Bordas arredondadas para as imagens */
    margin: 10px; /* Espaço entre as imagens */
}

#contato {
    background-image: url('img/padrao-sem-costura-de-basquete-com-bolas-laranja-brilhantes-ilustracao-moderna-para-banners-de-folhetos-web_554867-1024.avif');
    background-size: cover;
    padding: 4rem 0;
    border-radius: 60px;
     /* Borda arredondada para o fundo */
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #e05f23;
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #F1EDEF;
}

.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{ 
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
